<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Oversound — Tu biblioteca musical</title>
    <meta name="description" content="Descubre, crea y comparte música con Oversound. La plataforma colaborativa para artistas y productores." />
    <link rel="stylesheet" href="{{ url_for('static', path='styles/home.css') }}" />
    <link rel="stylesheet" href="{{url_for('static', path='styles/header.css')}}"/>
</head>
<body>
    {% include 'common/header.html' %}
</body>
</html>
